node_red_candy_grabber.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural

\f0\fs24 \cf0 [\{"id":"2d6e5a06.d89726","type":"ui_template","z":"27937b75.743c94","group":"89a5597c.e848b8","name":"RPiCamInterface","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\\n<html>\\n    <head>\\n        <title>Camera Video Stream</title>\\n        <meta charset=\\"UTF-8\\">\\n        <meta name=\\"viewport\\" content=\\"width=device-width, initial-scale=1.0\\">\\n    </head>\\n    <body>\\n        <script>\\n            function errorFunction() \{\\n                alert('Stream stopped');\\n            \}\\n        </script>\\n        <iframe width=\\"512\\" height=\\"288\\" img src= \\"http://10.128.89.61:8160/cam_pic_new.php?\\" alt=\\"image\\"  >\\n    </body>\\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":400,"wires":[["85d4bd54.8fcb5"]]\},\{"id":"36a3d684.d9625a","type":"ui_button","z":"27937b75.743c94","name":"","group":"89a5597c.e848b8","order":2,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":300,"wires":[["8aaf1121.86eea"]]\},\{"id":"2737d825.b3c278","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"ControllerButton Up","order":10,"width":"2","height":"3","format":"<script>\\n    var value = \'840\'93;\\n</script>\\n<md-button\\n    ng-mousedown=\\"send(\{payload:1\})\\"\\n    ng-mouseup=\\"send(\{payload:0\})\\"\\n    >\\nUp\\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":40,"wires":[["e69083a6.d102d"]]\},\{"id":"a5e90107.21e52","type":"debug","z":"27937b75.743c94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":60,"wires":[]\},\{"id":"7cb4fda3.c3f254","type":"ui_button","z":"27937b75.743c94","name":"","group":"89a5597c.e848b8","order":5,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":90,"y":340,"wires":[["7a6525d7.5d591c"]]\},\{"id":"80c6c807.9b7938","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"ControllerButton Down","order":11,"width":"2","height":"2","format":"<script>\\n    var value = \'840\'93;\\n</script>\\n<md-button\\n    ng-mousedown=\\"send(\{payload:2\})\\"\\n    ng-mouseup=\\"send(\{payload:0\})\\"\\n    >\\nDown\\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":80,"wires":[["e69083a6.d102d"]]\},\{"id":"ab138f39.002fb","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"ControllerButton Right","order":6,"width":"2","height":"1","format":"<script>\\n    var value = \'840\'93;\\n</script>\\n<md-button\\n    ng-mousedown=\\"send(\{payload:2\})\\"\\n    ng-mouseup=\\"send(\{payload:0\})\\"\\n    >\\nRight\\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":139,"y":159,"wires":[["b6d2d423.be63e8"]]\},\{"id":"41fe1cf.adf6be4","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"ControllerButton Left","order":5,"width":"2","height":"1","format":"<script>\\n    var value = \'840\'93;\\n</script>\\n<md-button\\n    ng-mousedown=\\"send(\{payload:1\})\\"\\n    ng-mouseup=\\"send(\{payload:0\})\\"\\n    >\\nLeft\\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":139,"y":119,"wires":[["b6d2d423.be63e8"]]\},\{"id":"85d4bd54.8fcb5","type":"debug","z":"27937b75.743c94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":400,"wires":[]\},\{"id":"ed62fa48.88ddb8","type":"play_audio_file","z":"27937b75.743c94","filename":"/home/pi/Music/12ClucluLand_Playing.mp3","x":580,"y":480,"wires":[[]]\},\{"id":"3ac17506.87075a","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"ControllerButton Front","order":3,"width":"2","height":"1","format":"<script>\\n    var value = \'840\'93;\\n</script>\\n<md-button\\n    ng-mousedown=\\"send(\{payload:2\})\\"\\n    ng-mouseup=\\"send(\{payload:0\})\\"\\n    >\\nFront\\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":240,"wires":[["d8896b6b.96ca68"]]\},\{"id":"c8021bb2.0c7098","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"ControllerButton Back","order":8,"width":"2","height":"1","format":"<script>\\n    var value = \'840\'93;\\n</script>\\n<md-button\\n    ng-mousedown=\\"send(\{payload:1\})\\"\\n    ng-mouseup=\\"send(\{payload:0\})\\"\\n    >\\nBack\\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":200,"wires":[["d8896b6b.96ca68"]]\},\{"id":"e69083a6.d102d","type":"function","z":"27937b75.743c94","name":"get direction","func":"\\nif(msg.payload === 1)\{\\n    msg.payload = \\"up\\";\\n\}\\nelse if(msg.payload === 2)\{\\n    msg.payload = \\"down\\";\\n\}\\nelse\{\\n    msg.payload = \\"none\\";\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["a5e90107.21e52","92c6a851.5c48a8"]]\},\{"id":"b6d2d423.be63e8","type":"function","z":"27937b75.743c94","name":"get direction","func":"\\nif(msg.payload === 1)\{\\n    msg.payload = \\"left\\";\\n\}\\nelse if(msg.payload === 2)\{\\n    msg.payload = \\"right\\";\\n\}\\nelse\{\\n    msg.payload = \\"none\\";\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["92c6a851.5c48a8","a5e90107.21e52"]]\},\{"id":"d8896b6b.96ca68","type":"function","z":"27937b75.743c94","name":"get direction","func":"\\nif(msg.payload === 1)\{\\n    msg.payload = \\"back\\";\\n\}\\nelse if(msg.payload === 2)\{\\n    msg.payload = \\"front\\";\\n\}\\nelse\{\\n    msg.payload = \\"none\\";\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["92c6a851.5c48a8","a5e90107.21e52"]]\},\{"id":"3c27af46.6e8ce","type":"ui_audio","z":"27937b75.743c94","name":"","group":"89a5597c.e848b8","voice":"","always":"","x":560,"y":520,"wires":[]\},\{"id":"3b91c49c.6520cc","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"","order":2,"width":"1","height":"1","format":"<div ng-bind-html=\\"msg.payload\\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":100,"y":560,"wires":[[]]\},\{"id":"abdcb48d.7f0e48","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"","order":4,"width":"1","height":"1","format":"<div ng-bind-html=\\"msg.payload\\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":100,"y":520,"wires":[[]]\},\{"id":"a60d394c.09d0a8","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"","order":7,"width":"1","height":"1","format":"<div ng-bind-html=\\"msg.payload\\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":100,"y":580,"wires":[[]]\},\{"id":"b5a77919.b5e5b8","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"","order":9,"width":"1","height":"1","format":"<div ng-bind-html=\\"msg.payload\\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":100,"y":540,"wires":[[]]\},\{"id":"638a39ef.dbed88","type":"comment","z":"27937b75.743c94","name":"empty buttons for dashboard design","info":"","x":300,"y":580,"wires":[]\},\{"id":"b81753d2.010f7","type":"ui_template","z":"27937b75.743c94","group":"89a5597c.e848b8","name":"","order":3,"width":"6","height":"1","format":"<div ng-bind-html=\\"msg.payload\\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":240,"y":520,"wires":[[]]\},\{"id":"db8534a7.b60838","type":"ui_template","z":"27937b75.743c94","group":"7dcf40ef.09e2f","name":"","order":1,"width":"4","height":"1","format":"<div ng-bind-html=\\"msg.payload\\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":380,"y":520,"wires":[[]]\},\{"id":"6296d9ad.b63fc8","type":"OpcUa-Client","z":"27937b75.743c94","endpoint":"364dc5b.751353a","action":"browse","time":10,"timeUnit":"s","name":"clientBrowse","x":390,"y":440,"wires":[["9922193d.344ab8"]]\},\{"id":"5a02fbfa.52a314","type":"OpcUa-Item","z":"27937b75.743c94","item":"ns=2;i=6","datatype":"String","value":"","name":"mode","x":210,"y":440,"wires":[["6296d9ad.b63fc8"]]\},\{"id":"9922193d.344ab8","type":"debug","z":"27937b75.743c94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":440,"wires":[]\},\{"id":"7214c01b.ae986","type":"inject","z":"27937b75.743c94","name":"Browse","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["5a02fbfa.52a314","ff5b4f01.8b809"]]\},\{"id":"39c1da64.a8f636","type":"OpcUa-Client","z":"27937b75.743c94","endpoint":"364dc5b.751353a","action":"write","time":10,"timeUnit":"s","name":"FH","x":730,"y":140,"wires":[["6e6f63ec.b9ae6c"]]\},\{"id":"92c6a851.5c48a8","type":"OpcUa-Item","z":"27937b75.743c94","item":"ns=2;i=5","datatype":"String","value":"","name":"Direction","x":540,"y":120,"wires":[["39c1da64.a8f636"]]\},\{"id":"6e6f63ec.b9ae6c","type":"debug","z":"27937b75.743c94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":140,"wires":[]\},\{"id":"30ae56de.92304a","type":"OpcUa-Item","z":"27937b75.743c94","item":"ns=2;i=6","datatype":"String","value":"","name":"Mode","x":610,"y":240,"wires":[["39c1da64.a8f636"]]\},\{"id":"cfd69223.8f1b8","type":"inject","z":"27937b75.743c94","name":"","topic":"","payload":"remote","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["30ae56de.92304a"]]\},\{"id":"97806e53.d060f","type":"comment","z":"27937b75.743c94","name":"Writing Values","info":"","x":710,"y":60,"wires":[]\},\{"id":"ff5b4f01.8b809","type":"OpcUa-Item","z":"27937b75.743c94","item":"ns=2; i=2","datatype":"String","value":"","name":"State","x":210,"y":480,"wires":[["6296d9ad.b63fc8"]]\},\{"id":"7a6525d7.5d591c","type":"function","z":"27937b75.743c94","name":"Switch","func":"\\nif(msg.payload === true)\{\\n    msg.payload = 1;\\n\}\\nif(msg.payload === false)\{\\n    msg.payload = 0;\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["268df16c.b9228e"]]\},\{"id":"adb5176a.feb198","type":"OpcUa-Item","z":"27937b75.743c94","item":"ns=2;i=3","datatype":"Boolean","value":"","name":"Start","x":450,"y":300,"wires":[["39c1da64.a8f636"]]\},\{"id":"268df16c.b9228e","type":"OpcUa-Item","z":"27937b75.743c94","item":"ns=2;i=3","datatype":"Boolean","value":"","name":"Stop","x":450,"y":340,"wires":[["39c1da64.a8f636"]]\},\{"id":"8aaf1121.86eea","type":"function","z":"27937b75.743c94","name":"Switch","func":"\\nif(msg.payload === true)\{\\n    msg.payload = 1;\\n\}\\nif(msg.payload === false)\{\\n    msg.payload = 0;\\n\}\\n\\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["adb5176a.feb198"]]\},\{"id":"89a5597c.e848b8","type":"ui_group","z":"","name":"Live Stream","tab":"35b3bc4.37b6144","order":1,"disp":true,"width":"10","collapse":false\},\{"id":"7dcf40ef.09e2f","type":"ui_group","z":"","name":"Controller","tab":"35b3bc4.37b6144","order":2,"disp":true,"width":"4","collapse":false\},\{"id":"364dc5b.751353a","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:4840/freeopcua/server/","secpol":"None","secmode":"NONE","login":false\},\{"id":"35b3bc4.37b6144","type":"ui_tab","z":"","name":"Candy Grabber","icon":"dashboard"\}]}